* {
    margin: 0;
    padding: 0;
}

h1, footer {
    background-color: rgb(142, 142, 255);
    color: black;
    text-align: center;
    padding: 2%;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background-color: black;
    animation: fade 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}