@media screen and (min-width: 500px)
{
    #menu {
		display: none;
	}

    .navbar {
		flex-direction: row;
	}
    .navbar a {
		display: block;
		flex: 1 1 100%;
	}

    .navbar {
        background-color: rgb(13, 60, 136);
        color: white;
        display: flex;
        justify-content: space-between;
    }

    b {
        display: flex;
        justify-content: center;
    }

    main {
        margin: 1rem;
        padding: 0;
        width: 95%;
        max-width: 100%;
    }

    h1 {
        display: grid;
        grid-column: 1 / 4;
        margin-bottom: 10px;
    }
    
    .res-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .res-grid section {
        width: 100%;
        max-width: 100%;
    }
    
    figcaption {
        font-size: 1rem;
        display: flex;
        justify-self: center;
    }
}