:root {
  --primary-color: #94afff; 
  --secondary-color: #e6e6ac; 
  --accent1-color: #000242; 
  --accent2-color: #331145; 
  --heading-font: "Zalando Sans SemiExpanded";
  --body-font: Helvetica;
}
body {
    font-family: var(--body-font);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: var(--heading-font);
    display: flex;
    justify-content: center;
    align-content: end;
}
fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}
legend {
    padding: 0 .5rem;
}
#req {
    font-style: italic;
}
b {
    color: rgb(170, 0, 0);
}
label {
    font-size: larger;
    display: block;
    padding-top: .5rem;
}

#rating,
#dt,
#prod,
#feat,
#rev,
#nm {
    padding-top: 30px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .70rem;
    color: #111;
    width: 100%;
    max-width: 480px;
    appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
    float: left;
    margin-top: .3rem;
}
input[type="radio"] {
    margin-top: .5rem;
}
input[type="submit"] {
    border: none;
    font-size: larger;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 480px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #333;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding-top: 25px;
    font-family: var(--heading-font);
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
footer p {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 500px)
{
    main {
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;
        margin-bottom: -2rem;
    }
    form {
        background-color: #fff;
        border-radius: 10px;
        margin: 10px;
        padding: 1rem;
    }
}