* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}
h1, footer {
    background-color: rgb(141, 141, 236);
    text-align: center;
    padding: 10px;
}

.hero {
    background-color: rgb(255, 69, 69);
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;
}

.data, #weather {
    background-color: #fff;
    text-align: center;
    font-size: x-large;
}
#weather {
    padding: 2em 0 1em;
}
.icon-wrapper img {
    width: 3rem;
    height: auto;
    vertical-align: text-bottom;
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    size: 2rem;
}
.icon-wrapper::after {
    content: "";
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    width: 1rem;
    height: 1rem;
}

.data h2, #weather h2 {
    padding-bottom: 2rem;
}

footer {
    margin-bottom: 1rem;
}

@media screen and (min-width: 950px){
    div .hero {
        position: relative;
        margin: 0;
    }
    .hero img {
        margin-top: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .data h2, #weather h2 {
        padding-bottom: 0;
        background-color: rgb(255, 69, 69);
        text-align: start;
    }
    .data h2 {
        padding: 1rem 8rem 1rem 1rem;
        margin: 1rem 4rem 1rem -1rem;
    }
    #weather h2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0 6rem 0 1rem;
        margin: 1rem 2rem 1rem -1rem;
    }

    .data {
        font-size: medium;
        width: 20%;
        background-color: #ffffffa9;
        position: absolute;
        top: 10rem;
        left: 5%;
        right: 0;
    }
    #weather {
        font-size: large;
        width: 25%;
        padding: 0;
        background-color: #ffffff6e;
        position: absolute;
        top: 20rem;
        right: 5%;
    }
    
    .icon-wrapper img {
        width: 3rem;
    }
    .icon-wrapper::after {
        top: -0.6rem;
        right: -0.6rem;
        width: 1.1rem;
        height: 1.1rem;
    }
    
    footer {
        margin-bottom: 1rem;
    } 
}